.panel-warp{
    position: relative;
    width: 30%;
    height: 100vh;
    
}

.panel{
    background-color: rgb(238, 237, 237);
    position: absolute;
    width: 99%;
    height: 99%;
    text-align: center;
    border: 2px solid rgb(119, 118, 118);
}

.Header{
    margin: 20px;
    font-size: 32px;
    font-weight: 600;
    color: black;
}

.select{
    align-items: center;
    position: relative;
    width: 95%;
    height: 60px;
    border: 2px solid rgb(119, 118, 118);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px
    
}

.info{
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    position:relative;
    width: 92%;
    height: 35vh;
    font-size: 18px;
    font-weight: 600;
    overflow-y: auto;
    border: 2px solid rgb(119, 118, 118);
    text-align: left;
    border-radius: 10px
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 10px;
    
}